<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="navbar navbar-fixed-top header">

  <div class="col-md-12">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-cutlery"></i> COOK BOOK</a>
      <button data-target="#navbar-collapse1" data-toggle="collapse" class="navbar-toggle" type="button">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>

    <div id="navbar-collapse1" class="collapse navbar-collapse">

      <form class="navbar-form pull-left">
        <div style="max-width:470px;" class="input-group">
          <input type="text" id="srch-term" name="srch-term" placeholder="Search" class="form-control">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default btn-primary"><i
                class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a type="button" data-toggle="modal" data-target="#addRecipeModal"><i class="glyphicon glyphicon-plus"></i>
            Add recipe</a></li>
        <li>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="glyphicon glyphicon-bell"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
            <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
            <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
            <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
            <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
          </ul>
        </li>
        <li><a id="btnToggle" href="#"><i class="glyphicon glyphicon-th-large"></i></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-user"></i> Login</a></li>
        <li><a target="_ext" href="http://m-wrobel91.github.io">m-wrobel91.github.io</a></li>
      </ul>
    </div>
  </div>

</div>

<br>
<br>

<div class="container" id="main-container">
  <div *ngFor="let recipe of recipes" class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
    <!-- product -->
    <div class="product-content product-wrap clearfix">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <img src={{recipe.imageUrl}} onerror="this.src='/assets/img/no-image.png';" alt="194x228"
              class="img-responsive">
            <span class="tag2 hot">
              HOT
            </span>
          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="product-deatil">
            <h5 class="name">
              <a (click)="onOpenModal(recipe, 'showMore')" href="#">
                {{ recipe.title }}
              </a>
              <a><span>
                  Preparation time: {{ recipe.preparationTimeInMinutes }}
                  Cooking time: {{ recipe.cookingTimeInMinutes }}</span></a>
            </h5>
            <!--<p class="price-container">
              <span>$99</span>
            </p> -->
            <span class="tag1"></span>
          </div>
          <div class="description">
            <p> {{ recipe.content | truncateText:[] }} </p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a (click)="onOpenModal(recipe, 'showMore')" type="button" class="btn btn-success">Show details</a>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="rating">
                  {{ recipe.rating | number: '1.0-1'}}
                  <label for="stars-rating-1"><i (click)="rateRecipe(recipe.id, 1)" class="fa fa-star"></i></label>
                  <label for="stars-rating-2"><i (click)="rateRecipe(recipe.id, 2)" class="fa fa-star"></i></label>
                  <label for="stars-rating-3"><i (click)="rateRecipe(recipe.id, 3)" class="fa fa-star text-primary"></i></label>
                  <label for="stars-rating-4"><i (click)="rateRecipe(recipe.id, 4)" class="fa fa-star text-primary"></i></label>
                  <label for="stars-rating-5"><i (click)="rateRecipe(recipe.id, 5)" class="fa fa-star text-primary"></i></label>
                </div>
                <p class="no-of-votes ">
                  <span> Ratings: {{ recipe.noOfVotes }} </span>
                </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-2">
                <a (click)="onOpenModal(recipe, 'edit')" type="button" class="btn btn-primary"><i
                    class="glyphicon glyphicon-pencil"></i></a>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2">
                <a (click)="onOpenModal(recipe, 'delete')" type="button" class="btn btn-danger"><i
                    class="glyphicon glyphicon-minus"></i></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end product -->
    </div>
  </div>
</div>

<!-- Add Recipe Modal -->
<div class="modal" id="addRecipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeAddModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRecipeModal">Add recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddRecipe(addForm)">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="preparationTimeInMinutes">Preparation time </label>
            <input type="number" ngModel name="preparationTimeInMinutes" class="form-control"
              id="preparationTimeInMinutes" placeholder="time in minutes" required>
          </div>
          <div class="form-group">
            <label for="cookingTimeInMinutes">Cooking time </label>
            <input type="number" ngModel name="cookingTimeInMinutes" class="form-control" id="cookingTimeInMinutes"
              placeholder="time in minutes" required>
          </div>
          <div class="form-group">
            <label for="content">Recipe</label>
            <input type="text" ngModel name="content" class="form-control" id="content" placeholder="recipe" required>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="image url"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-recipe-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal" id="updateRecipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateRecipeModal">Edit recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <input type="hidden" ngModel={{editRecipe?.id}} name="id" class="form-control" id="id">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" ngModel={{editRecipe?.title}} name="title" class="form-control" id="title"
              placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="preparationTimeInMinutes">Preparation time </label>
            <input type="number" ngModel={{editRecipe?.preparationTimeInMinutes}} name="preparationTimeInMinutes"
              class="form-control" id="preparationTimeInMinutes" placeholder="time in minutes" required>
          </div>
          <div class="form-group">
            <label for="cookingTimeInMinutes">Cooking time </label>
            <input type="number" ngModel={{editRecipe?.cookingTimeInMinutes}} name="cookingTimeInMinutes"
              class="form-control" id="cookingTimeInMinutes" placeholder="time in minutes" required>
          </div>
          <div class="form-group">
            <label for="content">Recipe</label>
            <input type="text" ngModel={{editRecipe?.content}} name="content" class="form-control" id="content"
              required>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" ngModel={{editRecipe?.imageUrl}} name="imageUrl" class="form-control" id="imageUrl"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="edit-recipe-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="onUpdateRecipe(editForm.value)" type="button" class="btn btn-primary">Save
              changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteRecipeModal" tabindex="-1" role="dialog" aria-labelledby="showMoreModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showMoreModelLabel">Delete Recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete recipe
          <!--{{deleteRecipe?.name}}?-->
        </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button class="btn btn-danger" data-dismiss="modal">Yes</button>
          <!--(click)="onDeleteEmloyee(deleteEmployee?.id)" -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Show More Modal -->
<div class="modal" id="showMoreRecipeModal" tabindex="-1" role="dialog" aria-labelledby="showMoreRecipeModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="product-deatil">
          <h3 class="name">{{ showMoreRecipe?.title }} </h3>

        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="product-image">
                <img src={{showMoreRecipe?.imageUrl}} alt="194x228" class="img-responsive">
              </div>
            </div>
            <div class="col-md-6">
              <div class="description">
                Rating: {{ showMoreRecipe?.rating | number: '1.0-1' }}
                <p class="no-of-votes ">
                  Ratings: {{ showMoreRecipe?.noOfVotes }}
                </p>
                <p>Recipe details: </p>
                <p> {{ showMoreRecipe?.content }} </p>
              </div>
            </div>
          </div>
        </div>

        <div class="container bootstrap snippets bootdey ">
          <div class="row">
            <div class=" col-md-6 ">
              <h3 class="name">Comments</h3>
              <hr />
              <div class="blog-comment">
                <ul *ngFor="let comment of showMoreComments" class="comments">
                  <li class="clearfix">
                    <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
                    <div class="post-comments">
                      <p class="meta">Dec 18, 2014 <a href="#">{{ comment?.author }}</a> says : <i class="pull-right"><a
                            href="#"><small>Reply</small></a></i></p>
                      <p>
                        {{ comment?.content }}
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>